
.name {
    padding-top: 50px;
    font-size: 43px;
    text-align: start;
    padding-left: 50px;
    font-style: italic;
}
#city {
    padding-bottom: 1em;
}

.part21{
    display: grid;
    grid-template-columns: 100%;
}

.fix img{
    float: left;
    margin-right: 2%;
    padding-bottom: 1em;
}

h2 {
   
    font-size: 49px;
    margin-right: 35px;
}

.fix h3 {
    font-size: 30px;
    text-align: left;
}

.para {
    width: 50%;
    padding: 40px;
    margin-top: -70px;
    
}
/* p {
    margin-top: 20;
    padding-right: 10;
}  */
h4 {
    font-size: 49px;
}
#p2 {
    margin-top: -3%;
    font-size: 30px;
    text-align: center;
}
table {
    width: 98%;
    border-collapse: collapse;
}
th, th {
    padding: 10px;
}
th {
    text-align: left;
}
 th, td {
    border: solid black;
    border-collapse: collapse;
    width:50%;
    font-size: 20px;
}
#foreign {
    margin-left: 15px;
    clear: left;
    margin-top: 10px;
}
h5 {
    font-size: 52px;
}

#hs {
    margin-left: 15px;
}

@media screen and (min-width: 920px) {

    #foreign {
        margin-left: 15px;
        margin-top: 10px;
    }
.name {
    padding-top: 50px;
    font-size: 43px;
    text-align: start;
    padding-left: 194px;
    font-style: italic;
}
#city {
    margin-left: 15px;
}

#part1 {
    display: flex;
}
.pg img {
    /* margin: auto; */
    padding-left: 34px;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    /* max-width: ; */
}
.part2 {
    display: flex;
    margin-right: auto;  
}
    .Historical{
        display: flex;
        width: 100%;

    }
    .a .slave {
        display: flex;
        width: 90%;
    }
    .mu-text, .mu-text2, .mu-text3 {
        padding-left:10px;
        margin-block-start: -20px;
        
    }

p {
    font-size: 20px;
    padding-block-start: 10px;
}
    
    .a .iziko {
        display: flex;
        width: 90%;
    }
    .a .museum {
        display: flex;
        width: 90%;
    }
    .a{
    
        display: block;
        width: 33%;
    }
    h3 {
        text-align: center;
    }

   body{ background-color: blueviolet;} 
} 

@media screen and (max-width: 600px) {
    #city {
        margin-left: 15px;
    }
   .fix img{
       width: 75%;
       height: auto;
   }

    #part1 {
        display: flex;
        flex-direction:column;
    }
    .pg img {
        /* margin: auto; */
        padding-left: 34px;
        padding-top: 20px;
        width: 70%;
        height:auto;
        /* max-width: ; */
    }
    .part2 {
        display: flex;
        margin-right: auto;  
    }
#foreign {
    margin-left: 15px;
}
h5 {
    font-size: 52px;
}

    .mu-pic1 { 
float : left;
margin : 0.5em;
    }

    .mu-pic2 {
float: right;
margin : 0.5em

    }

    .mu-pic3 {
float : left;
margin : 0.5em

    }

p {
    font-size: 20px;
    padding-block-start: 10px;
}

    .a {
        overflow: auto;
    }

    h3 {
        text-align: center;
    }

}
    /* .mu-pic1{
    float: right;
    width: 50%;
    margin-top: -290px;
    }
    .mu-text1 {
        width: 50%;
    }
    .mu-pic2{
    
     width: 50%;
 }  */



  /* .section {
      display: flex;
  } 
  