
	table {
        width: 98%;
        border-collapse: collapse;
    }
    
    th,
    th {
        padding: 10px;
    }
    
    th {
        text-align: left;
    }
    
    th,
    td {
        border: solid black;
        border-collapse: collapse;
        width: 50%;
        font-size: 20px;
    }
    
    #foreign {
        margin-left: 15px;
        clear: left;
        margin-top: 10px;
    }
    
    @media screen and (min-width: 920px) {
        #foreign {
            margin-left: 15px;
            margin-top: 10px;
        }
        #part1 {
            text-align: start;
        }
        .cityimage{
            display: flex;
            margin-right: 5%;
            
        /* }
        #part1 {
            display: flex; */
        }
        /* .pg img {
            padding-left: 34px;
            padding-top: 20px;
            width: 100%;
            height: 100%;
        } */
        #part2 {
            display: flex;
            margin-right: auto;
        }
        .Historical {
            display: flex;
            width: 100%;
        }
        p {
            font-size: 20px;
            padding-block-start: 10px;
        }
        /* .do h3 {
            text-align: center;
        } */
        .pic {
            float: right;
            padding-right: 25px;
        }
        .pic2 {
            float: right;
            padding-right: 25px;}
        
        }
        